{% extends 'index.html' %}
{% load staticfiles %}

{%block head_extra %}
    {{ form.media }}
{% endblock %}

{% block title %}
    Ret konfiguration
{% endblock %}

{% block content %}
    <form id="userprofile_form" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}

        <div class="column">

            <h3>Systemroller</h3>
            <div class="row row_title">
            </div>

            <div class="row">



            </div>
        </div>

        <input style="display:none;" id="form_submit" name="action" value="" >

    </form>
{% endblock %}