{% extends 'index.html' %}
{% load staticfiles %}

{%block head_extra %}
    {{ form.media }}
{% endblock %}

{% block title %}
    Ret konfiguration
{% endblock %}

{% block content %}
    <form id="userprofile_form" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}

        <div class="column">

            <h3>Konfiguration for {{ plugin_name }}-plugin</h3>

            {% for section in sections %}
                {% if section.name %}
                    <h4>{{ section.name }}</h4>
                {% endif %}
                {% for field in section.items %}
                    <div class="row row_title">
                        <div class="row_field">{{ field.label }}</div>
                    </div>
                    <div class="row">
                        <div class="row_field">{{ field }}</div>
                    </div>
                {% endfor %}
                {% if not forloop.last %}
                    <hr/>
                {% endif %}
            {% endfor %}

            <div class="row">

                <button class="row_field button blue" type="submit">
                    <div class="flex-left">
                        <img src="{% static 'resources/images/konfiguration/check-white.png' %}">
                    </div>
                    <div class="flex-center">
                        GEM ÆNDRINGER
                    </div>
                </button>

            </div>

        </div>

    </form>
{% endblock %}