<table>
    <tr>
        <td class="ordering">
            <div id="order-name">Navn</div>
        </td>
        <td>
            <div>Konfiguration</div>
        </td>
        <td>
            <div>Synkronisering</div>
        </td>
    </tr>

    {% for plugin in list %}
        <tr>
            <td class="txtdata">{{ plugin.name }}</td>
            <td class="txtdata">
                <a href="{{ plugin.configlink }}">Redigér</a>
            </td>
            <td class="txtdata">
                <a href="{{ plugin.synclink }}">Synkronisér</a>
            </td>
        </tr>
    {% endfor %}
</table>