{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
    Brugeroversigt
{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="title">Brugeroversigt</div>
        </div>

        <div class="table-filter">

            <a class="button filter_field blue" href="{% url 'dafousers:passworduser-add' %}">
                <div class="flex-left">
                    <img src="/static/resources/images/brugerliste/check-white.png">
                </div>
                <div class="flex-center">
                    OPRET NY BRUGER
                </div>
            </a>

            <div class="filter_field" style="display: inline-block;">
                <div class="button dropbtn gray" onclick="toggleShow('status')">
                    <div class="flex-left">
                        <img src="/static/resources/images/brugerliste/change.png">
                    </div>
                    <div class="flex-center">
                        SKIFT STATUS
                    </div>
                    <div class="flex-right">
                        <img src="/static/resources/images/brugerliste/dropdown-arrow.png">
                    </div>
                </div>
                <span id="status" class="dropdown-content slider white">
                    <button class="button" onclick="submitForm('form_submit', '_status_active')">Aktiv</button>
                    <button class="button" onclick="submitForm('form_submit', '_status_blocked')">Blokeret</button>
                    <button class="button" onclick="submitForm('form_submit', '_status_deactive')">Deaktiveret</button>
                </span>
            </div>

            <div class="button filter_field gray" onclick="showPopup('permissions-popup')">
                <div class="flex-left">
                    <img src="/static/resources/images/brugerliste/check-black.png">
                </div>
                <div class="flex-center">
                    TILDEL RETTIGHEDER
                </div>
            </div>

            <div class="filter_field" style="padding: 7px 35px 7px 50px;">
                Antal brugere i alt: <b>{{ object_list|length }}</b>
            </div>

            <select class="filter_field">

                <option {% if filter == '' %}selected=""{% endif %}
                        value="*"
                        onclick="submitForm('filter', this.value)">
                    Vis alle brugere
                </option>

                <option {% if filter == 'active' %}selected=""{% endif %}
                        value="active"
                        onclick="submitForm('filter', this.value)">
                    Vis aktive brugere
                </option>

                <option {% if filter == 'blocked' %}selected=""{% endif %}
                        value="blocked"
                        onclick="submitForm('filter', this.value)">
                    Vis blokerede brugere
                </option>

                <option {% if filter == 'deactivated' %}selected=""{% endif %}
                        value="deactivated"
                        onclick="submitForm('filter', this.value)">
                    Vis deaktiverede brugere
                </option>

            </select>

            <div class="popup hidden" id="permissions-popup">

                <div class="popup-title">Tildel rettigheder</div>

                <div class="popup-content">
                    <p class="label">Vælg brugerprofil</p>

                    <div>
                        <select name="user_profiles" multiple="" rows="6">
                            {% for user_profile in user_profiles %}
                                <option value="{{ user_profile.id }}">{{ user_profile }}</option>
                            {% endfor %}
                        </select>
                        <div class="small-label">Hold "Ctrl" nede for at vælge mere end en</div>
                    </div>

                    <div class="popup-buttons">
                        <button class="button small-button blue" onclick="submitForm('form_submit', '_add_user_profiles')">
                            <div class="flex-center">TILDEL</div>
                        </button>

                        <div class="button small-button gray" onclick="closePopups()">
                            <div class="flex-center">FORTRYD</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <table>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" id="checkbox_all" onclick="toggleAllCheckboxes(this)">
                </td>
                <td class="ordering {% if order == 'givenname' %}asc{% elif order == '-givenname' %}desc{% endif %}">
                    <div onclick="submitForm('order', '{% if order == 'givenname' %}-{% endif %}givenname')"
                         class="{% if order == 'givenname' %}asc{% elif order == '-givenname' %}desc{% endif %}">
                        Bruger
                    </div>
                </td>
                <td class="ordering">
                    <div onclick="submitForm('order', '{% if order == 'email' %}-{% endif %}email')"
                         class="{% if order == 'email' %}asc{% elif order == '-email' %}desc{% endif %}">
                        Email
                    </div>
                </td>
                <td class="ordering">
                    <div onclick="submitForm('order', '{% if order == 'organisation' %}-{% endif %}organisation')"
                         class="{% if order == 'organisation' %}asc{% elif order == '-organisation' %}desc{% endif %}">
                        Arbejdssted
                    </div>
                   </td>
                <td class="ordering">
                    <div onclick="submitForm('order', '{% if order == 'status' %}-{% endif %}status')"
                         class="{% if order == 'status' %}asc{% elif order == '-status' %}desc{% endif %}">
                        Status
                    </div>
                </td>
            </tr>
            {% for user in object_list %}
                <tr>
                    <td><input class="checkbox" name="user_id" type="checkbox" id="checkbox_{{ user.id }}"
                               value="{{ user.id }}"></td>
                    <td class="txtdata">
                        <a href="{% url 'dafousers:passworduser-details' user.id %}">
                        {{ user.givenname }} {{ user.lastname }}</a>
                    </td>
                    <td class="txtdata">{{ user.email }}</td>
                    <td class="txtdata">{{ user.organisation }}</td>
                    <td class="txtdata">{{ user.get_status_display }}</td>
                </tr>
            {% endfor %}
        </table>

        <input style="display:none;" id="order" name="order" value={{ order }} >
        <input style="display:none;" id="filter" name="filter" value={{ filter }} >
        <input style="display:none;" id="form_submit" name="action" value="" >
        <div id="lightbox" class="hidden"></div>

    </form>

{% endblock %}