{% extends 'index.html' %}
{% load staticfiles %}

{%block head_extra %}

    {{ form.media }}

{% endblock %}

{% block title %}
    Historik bruger
{% endblock %}

{% block content %}
        <div class="column">

            <div class="row">
                <div class="title">Historik bruger</div>
                <div class="back">
                    <a href="{% url 'dafousers:passworduser-edit' password_user_id %}">Gå til brugeroversigten</a>
                </div>

            </div>
        </div>
{% endblock %}