{% extends 'index.html' %}
{% load staticfiles %}

{%block head_extra %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        Password.new_password();
    }, false);
</script>

{{ form.media }}

{% endblock %}

{% block title %}
    Opret bruger
{% endblock %}

{% block content %}
    <form id="passworduser_form" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}

        <div class="column">

            <div class="row">

                <div class="title">
                    <p>Opret bruger</p>
                </div>

                <div class="back">
                    <a href="{% url 'dafousers:passworduser-list' %}">Gå til brugeroversigten</a>
                </div>

            </div>

            <div class="row">

                <div class="row_field">
                    <p>Fornavn</p>
                    {{ form.givenname }}
                </div>

                <div class="row_field">
                    <p>Efternavn</p>
                    {{ form.lastname }}
                </div>

            </div>

            <div class="row">

                <div class="row_field">
                    <p>Email</p>
                    {{ form.email }}
                </div>

                <div class="row_field">
                    <p class="left">Arbejdssted</p>
                    <p class="right small-label">(Valgfrit)</p>
                    {{ form.organisation }}
                </div>

            </div>

            <div class="row">

                <div class="row_field">
                    <p>Status</p>
                    {{ form.status }}
                </div>

                <div class="row_field">
                    <p>Kodeord</p>
                    {{ form.password }}
                    <p id="password_display">{{ form.password.value }}</p>
                </div>

            </div>

            <div class="row">

                <div class="row_field">
                    <p>Tilgængelige brugerprofiler</p>
                </div>

                <div class="row_field">
                    <p>Tildelte brugerprofiler</p>
                </div>

                <div class="double-column filtered-select-multiple">
                    {{ form.user_profiles }}
                </div>

                <div class="row_field small-label">
                    <p>Hold "Ctrl" nede for at vælge mere end en</p>
                </div>
            </div>

            <div class="row">

                <input class="row_field button button-add check"
                       type="submit" name="_save" value="OPRET NY BRUGER" />

                <input class="row_field button button-add plus"
                       type="submit" name="_addanother" value="OPRET OG TILFØJ ENDNU EN" />

            </div>
        </div>

        <div class="column">

            <div class="info-box" style="margin-top: 27%;">
                <div class="text-box">

                <img class="img " src="/static/dafousers/images/brugerliste/exclamation-mark-round.png">

                <p>Du kan levere dette kodeord til den oprettede bruger. Kodeordet er gældende når du har oprettet brugeren.</p>

                <p>Vær opmærksom på, at kodeordet ikke længere bliver vist når du har oprettet brugeren.</p>

                <input class="button small-button" type='button' value ='NYT KODEORD'
                       onclick="Password.new_password()">
                </div>
            </div>

        </div>

    </form>
{% endblock %}