{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
    Brugeroversigt
{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        <div class="row">
            <div class="title">
                <p>Brugeroversigt</p>
            </div>
        </div>

        <div class="table-filter">

            <a class="button filter_field blue" href="{% url 'dafousers:passworduser-add' %}">
                <div class="flex-left">
                    <img src="/static/resources/images/brugerliste/check-white.png">
                </div>
                <div class="flex-center">
                    OPRET NY BRUGER
                </div>
            </a>

            <div class="filter_field" style="display: inline-block;">
                <div class="button dropbtn gray" onclick="toggleShow('status')">
                    <div class="flex-left">
                        <img src="/static/resources/images/brugerliste/change.png">
                    </div>
                    <div class="flex-center">
                        SKIFT STATUS
                    </div>
                    <div class="flex-right">
                        <img src="/static/resources/images/brugerliste/dropdown-arrow.png">
                    </div>
                </div>
                <span id="status" class="dropdown-content slider white">
                    <button class="button" onclick="submitForm('form_submit', '_status_active')">Aktiv</button>
                    <button class="button" onclick="submitForm('form_submit', '_status_blocked')">Blokeret</button>
                    <button class="button" onclick="submitForm('form_submit', '_status_deactive')">Deaktiveret</button>
                </span>
            </div>

            <div class="button filter_field gray" onclick="showPopup('permissions-popup')">
                <div class="flex-left">
                    <img src="/static/resources/images/brugerliste/check-black.png">
                </div>
                <div class="flex-center">
                    TILDEL RETTIGHEDER
                </div>
            </div>

            <div class="filter_field" style="padding: 7px 35px 7px 50px;">
                <p>Antal brugere i alt: <b>{{ object_list|length }}</b></p>
            </div>

            <select class="filter_field">
                <option selected="" value="all">Vis alle brugere</option>
                <option value="active">Vis aktive brugere</option>
                <option value="blocked">Vis blokerede brugere</option>
                <option value="deactive">Vis deaktiverede brugere</option>
            </select>

            <div class="popup hidden" id="permissions-popup">

                <div class="title">
                    <p>Tildel rettigheder</p>
                </div>
                {{ user_profiles }}

                <select multiple="" rows="6">
                    <option value=" Brugerprofil 1">&nbsp;Brugerprofil 1</option>
                    <option value=" Brugerprofil 2">&nbsp;Brugerprofil 2</option>
                    <option value=" Brugerprofil 3">&nbsp;Brugerprofil 3</option>
                    <option value=" Brugerprofil 4">&nbsp;Brugerprofil 4</option>
                </select>
            </div>

            <div id="lightbox" class="hidden"></div>

        </div>

        <table>
            <tr>
                <td>
                    <input class="checkbox" type="checkbox" id="checkbox_all" onclick="toggleAllCheckboxes(this)">
                </td>
                <td class="ordering {% if ordering == 'givenname' %}asc{% elif ordering == '-givenname' %}desc{% endif %}">
                    <a href="{% url 'dafousers:passworduser-list' %}?ordering={% if ordering == 'givenname' %}-{% endif %}givenname">Bruger</a>
                </td>
                <td class="ordering">
                    <a href="{% url 'dafousers:passworduser-list' %}?ordering={% if ordering == 'email' %}-{% endif %}email">Email</a>
                </td>
                <td class="ordering">
                    <a href="{% url 'dafousers:passworduser-list' %}?ordering={% if ordering == 'organisation' %}-{% endif %}organisation">Arbejdssted</a>
                </td>
                <td class="ordering">
                    <a href="{% url 'dafousers:passworduser-list' %}?ordering={% if ordering == 'status' %}-{% endif %}status"
                       class="{% if ordering == 'status' %}-{% endif %}"
                    >Status</a>
                </td>
            </tr>
            {% for user in object_list %}
                <tr>
                    <td><input class="checkbox" name="user_id" type="checkbox" id="checkbox_{{ user.id }}"
                               value="{{ user.id }}"></td>
                    <td class="txtdata">
                        <a href="{% url 'dafousers:passworduser-details' user.id %}">
                        {{ user.givenname }} {{ user.lastname }}</a>
                    </td>
                    <td class="txtdata">{{ user.email }}</td>
                    <td class="txtdata">{{ user.organisation }}</td>
                    <td class="txtdata">{{ user.get_status_display }}</td>
                </tr>
            {% endfor %}
        </table>

        <input style="display:none;" id="ordering" name="ordering" value="givenname" >
        <input style="display:none;" id="form_submit" name="action" value="" >

    </form>

{% endblock %}