{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'dafousers/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'dafousers/dafo-styles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'dafousers/axure_rp_page.css' %}" />

<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript"  src="{% static 'dafousers/dafousers.js' %}"></script>

<script type="text/javascript"><!--
function new_password() {
    var new_pw = Password.generate(16);
    document.getElementById("id_password").value = new_pw;
    document.getElementById("password_display").innerHTML = new_pw;
}
document.addEventListener('DOMContentLoaded', function() {
    new_password();
}, false);
--></script>


{{ form.media }}

<body>
    <div id="base" class="">

        <form id="passworduser_form" enctype="multipart/form-data" action="" method="post">
            {% csrf_token %}

            <!-- Unnamed (Rectangle) -->
            <div id="u2140" class="ax_default label">
                <div id="u2140_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2141" class="text" style="top: 2px; left: 0px; width: 137px; transform-origin: 68.5px 12px 0px;">
                    <p><span>Opret bruger</span></p>
                </div>
            </div>

            <!-- status-info (Dynamic Panel) -->
            <div id="u2142" class="ax_default ax_default_hidden" data-label="status-info" style="display:none; visibility: hidden">
                <div id="u2142_state0" class="panel_state" data-label="State1" style="">
                    <div id="u2142_state0_content" class="panel_state_content">

                        <!-- Unnamed (Rectangle) -->
                        <div id="u2143" class="ax_default box_2">
                            <div id="u2143_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u2144" class="text" style="display:none; visibility: hidden">
                                <p><span></span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Horizontal Line) -->
                        <div id="u2145" class="ax_default line">
                            <img id="u2145_img" class="img " src="/static/dafousers/images/brugerliste/divider-dark.png">
                            <!-- Unnamed () -->
                            <div id="u2146" class="text" style="display:none; visibility: hidden">
                                <p><span></span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Shape) -->
                        <div id="u2147" class="ax_default icon">
                            <img id="u2147_img" class="img " src="/static/dafousers/images/brugerliste/exclamation-mark-round.png">
                            <!-- Unnamed () -->
                            <div id="u2148" class="text" style="display:none; visibility: hidden">
                                <p><span></span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u2149" class="ax_default label">
                            <div id="u2149_div" class=""></div>
                            <!-- Unnamed () -->
                            <div id="u2150" class="text">
                                <p><span>Ændringerne er gemt</span></p>
                            </div>
                        </div>

                        <!-- Unnamed (Rectangle) -->
                        <div id="u2151" class="ax_default label" style="cursor: pointer;">
                            <div id="u2151_div" class="" tabindex="0"></div>
                            <!-- Unnamed () -->
                            <div id="u2152" class="text">
                                <p><span>x</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2153" class="ax_default label">
                <div id="u2153_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2154" class="text" style="left: 0px; width: 54px; transform-origin: 27px 8px 0px;">
                    <p><span>Fornavn</span></p>
                </div>
            </div>

            <!-- F -->
            <div class="ax_default text_field" style="left:74px; top:187px;">
                {{ form.givenname }}
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2156" class="ax_default label">
                <div id="u2156_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2157" class="text" style="left: 0px; width: 65px; transform-origin: 32.5px 8px 0px;">
                    <p><span>Efternavn</span></p>
                </div>
            </div>

            <!-- Efternavn input -->
            <div class="ax_default text_field" style="left:354px; top:187px;">
                {{ form.lastname }}
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2159" class="ax_default label">
                <div id="u2159_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2160" class="text" style="left: 0px; width: 34px; transform-origin: 17px 8px 0px;">
                    <p><span>Email</span></p>
                </div>
            </div>

            <!-- Email input -->
            <div class="ax_default text_field" style="left:74px; top:257px;">
                {{ form.email }}
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2162" class="ax_default label">
                <div id="u2162_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2163" class="text">
                    <p><span>Arbejdssted</span></p>
                </div>
            </div>

            <!-- Arbejdssted input -->
            <div class="ax_default text_field" style="left:354px; top:257px;">
                {{ form.organisation }}
            </div>


            <!-- Brugerprofiler input -->
            <div class="ax_default text_field filtered-select-multiple" style="left: 74px; top: 402px;">
                {{ form.user_profiles }}
            </div>

            <!-- Unnamed (Rectangle) -->
            <div class="ax_default text_field small-label" style="left:353px; top:525px;">
                <p>
                    Hold "Ctrl" nede for at vælge mere end en
                </p>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2166" class="ax_default label">
                <div id="u2166_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2167" class="text" style="left: 0px; width: 141px; transform-origin: 70.5px 8px 0px;">
                    <p><span>Tilgængelige brugerprofiler</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2168" class="ax_default label">
                <div id="u2168_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2169" class="text" style="left: 0px; width: 173px; transform-origin: 86.5px 8px 0px;">
                    <p><span>Tildelte brugerprofiler</span></p>
                </div>
            </div>

            <!-- Status input -->
            <div class="ax_default droplist" style="left:74px; top:325px;">
                {{ form.status }}
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2179" class="ax_default label">
                <div id="u2179_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2180" class="text" style="left: 0px; width: 45px; transform-origin: 22.5px 8px 0px;">
                    <p><span>Status</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2182" class="ax_default label" style="cursor: pointer;">
                <div id="u2182_div" class="" tabindex="0"></div>
                <!-- Unnamed () -->
                <div id="u2183" class="text" style="top: 1px; transform-origin: 92.5px 8.5px 0px;">
                    <p><span>Gå til brugeroversigten</span></p>
                </div>
            </div>

            <!-- Unnamed (Triangle) -->
            <div id="u2184" class="ax_default box_3">
                <img id="u2184_img" class="img " src="/static/dafousers/images/brugerliste/triangle-blue.png">
                <!-- Unnamed () -->
                <div id="u2185" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>


            <!-- Unnamed (Shape) -->
            <div id="u2192" class="ax_default icon">
                <img id="u2192_img" class="img " src="/static/dafousers/images/brugerliste/plus-white.png">
                <!-- Unnamed () -->
                <div id="u2193" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2194" class="ax_default label">
                <div id="u2194_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2195" class="text" style="left: 0px; width: 54px; transform-origin: 27px 7px 0px;">
                    <p><span>(Valgfrit)</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2196" class="ax_default label">
                <div id="u2196_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2197" class="text">
                    <p><span>Kodeord</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2198" class="ax_default paragraph">
                <div id="u2198_div" class=""></div>
                <!-- Unnamed () -->
                {{ form.password }}
                <div id="u2199" class="text" style="left: 0px; width: 77px; transform-origin: 38.5px 8px 0px;">
                    <p><span id="password_display">{{ form.password.value }}</span></p>
                </div>
            </div>

            <!-- Infoboks for kodeord -->
            <div class="ax_default info-box" style="left:667px; top:237px;">
                <img class="img " src="/static/dafousers/images/brugerliste/info-box.png">
            </div>

            <!-- Unnamed (Shape) -->
            <div id="u2202" class="ax_default icon">
                <img id="u2202_img" class="img " src="/static/dafousers/images/brugerliste/exclamation-mark-round.png">
                <!-- Unnamed () -->
                <div id="u2203" class="text" style="display:none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u2204" class="ax_default label">
                <div id="u2204_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u2205" class="text">
                    <p><span>Du kan levere dette kodeord til den oprettede bruger. Kodeordet er gældende når du har oprettet brugeren.</span></p><p><span><br></span></p><p><span>Vær opmærksom på, at kodeordet ikke længere bliver vist når du har oprettet brugeren.</span></p>
                    </br>
                    <span></span>
                    <input class="ax_default button small-button" type='button' value ='NYT KODEORD' onclick="new_password()">
                </div>
            </div>


            <!-- Opret ny bruger -->
            <input class="ax_default button button-add" style="left:74px; top:567px;"
                   type="submit" name="_save" value="OPRET NY BRUGER" />

            <input class="ax_default button button-add" style="left:354px; top:567px;"
                   type="submit" name="_addanother" value="OPRET OG TILFØJ ENDNU EN" />

        </form>
    </div>

</body>