{% extends 'index.html' %}
{% load staticfiles %}

{% block title %}
    Brugeroversigt
{% endblock %}

{% block content %}


    <div class="row">
        <div class="title">
            <p>Brugeroversigt</p>
        </div>
    </div>

    <div class="table-filter">

        <a href="{% url 'dafousers:passworduser-add' %}">
            <button class="row_field button button-add plus">OPRET NY BRUGER</button>
        </a>
        <select style="width: 200px">
            <option selected="" value=" Vis alle brugere">&nbsp;Vis alle brugere</option>
            <option value=" Vis aktive brugere">&nbsp;Vis aktive brugere</option>
            <option value=" Vis blokerede brugere">&nbsp;Vis blokerede brugere</option>
            <option value=" Vis deaktiverede brugere">&nbsp;Vis deaktiverede brugere</option>
        </select>
    </div>



    <div class="table-responsive">
        <table class="table table-striped">
            <form action="{{ action }}" method="post">
                {% csrf_token %}
                {% for user in object_list %}
                    <tr>
                        <td><input class="checkbox" name="user_id" type="checkbox" id="checkbox_{{ user.id }}"value="{{ user.id }}"></td>
                        <td class="txtdata"><a href="{% url 'dafousers:passworduser-details' user.id %}">{{ user.givenname }} {{ user.lastname }}</a></td>
                    </tr>
                {% endfor %}
                <input id="send_selected" type="submit" value="Send" />
            </form>
        </table>
    </div>

{% endblock %}