{% extends 'index.html' %}
{% load staticfiles %}

{%block head_extra %}

    {{ form.media }}

{% endblock %}

{% block title %}
    Historik
{% endblock %}

{% block content %}
        <div class="column">

            <div class="row">
                <div class="title">Historik</div>
                <div class="back">
                    <a id="go_back"
                       href="{% url 'dafousers:passworduser-edit' password_user_id %}">
                        Gå tilbage til valgt bruger
                    </a>
                </div>
            </div>

            <div class="row">
            {% for entry in history %}
                    <div class="history-entry">
                        <div class="history-entry-top">
                            Opdateret d. <b>{{ entry.updated }}</b> af <b>{{ entry.changed_by }}</b>
                        </div>
                        <div class="history-entry-content">
                            <div class="row row_title">
                                <div class="row_field">Fornavn</div>
                                <div class="row_field">{{ entry.givenname }}</div>
                            </div>

                            <div class="row row_title">
                                <div class="row_field">Efternavn</div>
                                <div class="row_field">{{ entry.lastname }}</div>
                            </div>

                            <div class="row row_title">
                                <div class="row_field">Email</div>
                                <div class="row_field">{{ entry.email }}</div>
                            </div>

                            <div class="row row_title">
                                <div class="row_field">Arbejdssted</div>
                                <div class="row_field">{{ entry.organisation }}</div>
                            </div>

                            <div class="row row_title">
                                <div class="row_field">Tildelte brugerprofiler</div>
                                <div class="row_field">
                                        {% for user_profile in entry.user_profiles.all %}
                                            <div>{{ user_profile }}</div>
                                        {% endfor %}
                                </div>
                            </div>

                            <div class="row row_title">
                                <div class="row_field">Status</div>
                                <div class="row_field">{{ entry.get_status_display }}</div>
                            </div>

                            <div class="row row_title">
                                <div class="row_field">Krypteret password</div>
                                <div class="row_field password">{{ entry.encrypted_password }}</div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}