{% extends 'index.html' %}
{% load staticfiles %}

{%block head_extra %}

{{ form.media }}

{% endblock %}

{% block title %}
    Opret organisation
{% endblock %}

{% block content %}
    <form id="identityprovideraccount_form" enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}

        <div class="column">

            <div class="row">
                <div class="title">Opret organisation</div>

                <div class="back">
                    <a id="go_back"
                       href="{% url 'dafousers:identityprovideraccount-list' %}">
                        Gå til organisationsoversigten
                    </a>
                </div>
            </div>

            <div class="row row_title">
                <div class="row_field">Navn</div>
                <div class="row_field"></div>
            </div>
            <div class="row">
                <div class="row_field">{{ form.name }}</div>
                <div class="row_field"></div>
            </div>

            <div class="row row_title">
                <div class="row_field">Navn på kontaktperson</div>
                <div class="row_field">E-mailadresse på kontaktperson</div>
            </div>
            <div class="row">
                <div class="row_field">{{ form.contact_name }}</div>
                <div class="row_field">{{ form.contact_email }}</div>
            </div>

            <div class="row row_title">
                <div class="row_field">IdP-type</div>
                <div class="row_field">IdP metadata-fil</div>
            </div>
            <div class="row">
                <div class="row_field">
                    {% if form.idp_type %}
                        {{ form.idp_type }}
                    {% else %}
                        {{ view.model.CONSTANTS.idp_type_choices.1.1 }}
                    {% endif %}
                </div>
                <div class="row_field">{{ form.metadata_xml_file }}</div>
            </div>

            <div class="row row_title">
                <div class="row_field">SAML-attribut der indeholder brugerprofiler</div>
                <div class="row_field">Format for brugerprofil attribut</div>
            </div>
            <div class="row">
                <div class="row_field">{{ form.userprofile_attribute }}</div>
                <div class="row_field">{{ form.userprofile_attribute_format }}</div>
            </div>

            <div class="row row_title">
                <div class="row_field">Tilpasninger til brugerprofil værdier</div>
                <div class="row_field">Værdi brugt ved tilpasning af brugerprofiler</div>
            </div>
            <div class="row">
                <div class="row_field">{{ form.userprofile_adjustment_filter_type }}</div>
                <div class="row_field">{{ form.userprofile_adjustment_filter_value }}</div>
            </div>

            <div class="row row_title">
                <div class="row_field">Yderligere information om organisationen</div>
                <div class="row_field">Status</div>
            </div>
            <div class="row">
                <div class="row_field">{{ form.organisation }}</div>
                <div class="row_field">{{ form.status }}</div>
            </div>

            <h3>Brugerprofiler</h3>
            <div class="row row_title">
                <div class="row_field">Tilgængelige brugerprofiler</div>
                <div class="row_field">Tildelte brugerprofiler</div>
            </div>
            <div class="row">
                <div class="double-column filtered-select-multiple">{{ form.user_profiles }}</div>
                <div class="row_field small-label">Hold "Ctrl" nede for at vælge mere end en</div>
            </div>

            <div class="row">
                <button id="submit_save"
                        class="row_field button blue"
                        onclick="submitForm('form_submit', '_save')">
                    <div class="flex-left">
                        <img src="{% static 'resources/images/check-white.png' %}">
                    </div>
                    <div class="flex-center">OPRET NY ORGANISATION</div>
                </button>

                <button id="submit_addanother"
                        class="row_field button blue"
                        onclick="submitForm('form_submit', '_addanother')">
                    <div class="flex-left">
                        <img src="{% static 'resources/images/plus-white.png' %}">
                    </div>
                    <div class="flex-center">OPRET OG TILFØJ ENDNU EN</div>
                </button>
            </div>
        </div>

    <input style="display:none;" id="form_submit" name="action" value="" >

    </form>
{% endblock %}